<!--
Created by Filipe Mosca
Homepage: https://mosquildo.com.br
Contact: filipemosca@disroot.org

  -. (#)(#) .-
   '\.';;'./'
.-\.'  ;;  './-.
  ;    ;;    ;
  ;   .''.   ;
   '''    '''
-->

<!doctype html>
<html lang="pt-BR" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/picol/css/picol.css' | relative_url }}">
    <link rel="icon" href="/favicon2.png"/>
    <meta name="theme-color" content="#202020">
    <meta name="apple-mobile-web-app-status-bar-style" content="blue">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
        {{ content }}
    {% include footer.html %}
  </body>
</html>
